VITE_FIREBASE_API_KEY=AIzaSyCeNZ0kCNj3I52WTsv8ekBXHzf0icsW5rk
VITE_FIREBASE_AUTH_DOMAIN=flowroas-space.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=flowroas-space
VITE_FIREBASE_STORAGE_BUCKET=flowroas-space.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1006576229337
VITE_FIREBASE_APP_ID=1:1006576229337:web:b52e26b99bf25b64bd97c8
VITE_FIREBASE_MEASUREMENT_ID=G-160ZC5T3HQ
