VITE_FIREBASE_API_KEY=AIzaSyAJYfVo6xNMLzT6YuK3KPEleMajDz4I_RM
VITE_FIREBASE_AUTH_DOMAIN=agencia-roas.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agencia-roas
VITE_FIREBASE_STORAGE_BUCKET=agencia-roas.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=747665912742
VITE_FIREBASE_APP_ID=1:747665912742:web:a7a72813c3f31d6e7cd567
